# Dependencies
node_modules
.pnp
.pnp.js

# Production build output
dist
dist-ssr
*.local

# Cloudflare & Wrangler
.wrangler
.dev.vars

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
